.form__container {
    width: 600px;
}

.form__buttons {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
}

.google-login-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .container-main {
    /* Existing styles */
  }
  
  /* Center the Spinner when loading */
  .spinner-border {
    margin: 20px auto;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  